<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{> header}}
    <a href="/">Home</a>
    <a href="/about">About</a>

{{> footer}}

</body>
</html>